body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(./IMG4/BMW\ en\ ciudad.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

header nav {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

header div {
    display: flex;
    order: -1;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;

}

header .envoltorio img {
    width: 40px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.cont_de_logo #logo {
    filter: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 50px;
    height: 50px;
    padding: 3px;
}

.logo {
    height: 60px;
}

header ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 450px;
    padding: 10px;
    font-weight: bold;
}

header li {
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;
}

header section {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    padding-left: 15px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

h1 {
    margin: 5px;
}

header p {
    margin-left: 5px;
}

header button {
    margin: 5px;
    width: 90px;
    height: 25px;
}